@model IEnumerable<MailX.Models.User>
@{
    ViewBag.Title = "Home Page";
}

<div id="container">
    <div>Count: @Model.Count()</div>
    <table>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.VkId</td>
                <td>---@user.Email</td>
            </tr>
        }
    </table>
</div>

<script type="text/javascript">
    $(document).ready(() => {
        $.getJSON("api/letters/0", data => { });
        $.ajax({
            url: "api/letters/0",
            type: 'GET',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                alert(data);
            },
            error: function (error) {
                alert(error);
            }
        });
    });
</script>